/* MAIN */
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* svg {
    width: 1000px;
    position: absolute;
    top: 50px;
} */


/* CIRCLES */
#SVG_CIRCLES {
    width: 500px;
    position: absolute;
    left: -50px;
    /* animation: anim-rotate 80s infinite ease; */
}

#CIRCLES_BG {
    opacity: 0;
}
#CIRCLE_1 path {
    transform-origin: center;
    /* animation: anim-rotate 280s infinite ease, opacity 6s infinite alternate-reverse ease; */
    animation: anim-rotate 100s infinite ease, opacity 6s infinite alternate-reverse ease;
}

/* WAVES */
#SVG_WAVES {
    height: 500px;
    position: absolute;
}


/* KEYFRAMES */
@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}