@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');

/* MAIN */
html {
    font-family: 'Advent Pro', sans-serif;
    
    --circles-width: 40vw;
    --circles-min-width: 360px;
}
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 2.8vh;
    color: rgba(47, 176, 188, 0.765);
    
}
/* svg {
    width: 1000px;
    position: absolute;
    top: 50px;
} */
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 1.8rem;
}
/* DEV */
h1, header, h2, p, div {
    /* border: 1px solid red; */
}

/* HEADER */
#main-header {
    height: 14vh;
    padding: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 3px rgba(47, 176, 188, 0.164);
    filter: drop-shadow(1px 1px 3px rgba(47, 176, 188, 0.765));
}
#main-header nav ul {
    list-style: none;
    padding-right: 4vh;

    display: flex;
    gap: 2vw;
}

/* content */
#test-div {
    width: 60vw;
    padding: 2vw;

    position: absolute;
    top: 28vh;
    left: var(--circles-min-width);

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    filter: drop-shadow(1px 1px 2px rgba(47, 176, 188, 0.508));

}
#test-div header {
    margin-bottom: 6vh;
}

/* CIRCLES */
#SVG_CIRCLES {
    /* width: var(--circles-width); */
    /* min-width: var(--circles-min-width); */
    width: 40vw;
    min-width:360px;
    height: 80vh;
    position: absolute;
    left: -50px;
    /* animation: anim-rotate 80s infinite ease; */
}
#CIRCLE_1 {
    --shadow: 8px 8px 10px red;
    transform-origin: center;
    animation: 
        anim-rotate 90s infinite reverse ease, 
        anim-opacity 5s infinite alternate-reverse ease, 
        drop-shadow 10s 10s infinite ease;
}
#CIRCLE_2 {
    transform-origin: center;
    animation: 
        anim-rotate 150s infinite  ease, 
        anim-opacity 7s infinite alternate-reverse ease;
}
#CIRCLE_3 {
    --shadow: 3px 3px 10px rgba(255, 0, 0, 0.783);
    transform-origin: center;
    animation: 
        anim-rotate 280s infinite ease, 
        anim-opacity 9s infinite alternate ease, 
        drop-shadow 2s 20s infinite alternate cubic-bezier(.31,-0.98,.62,.49);
}
#CIRCLES_BG {
    --mult: 10;
    --shadow: 1px 1px 6px #257383;
    animation: drop-shadow 10s infinite ease;
}

#CIRCLE_BG_HALF_TOP {
    animation: 
        flash-opacity calc(var(--mult) * 10s) infinite alternate ease;
}
#CIRCLE_BG_HALF_BOTTOM {
    animation: 
        flash-opacity calc(var(--mult) * 27.3s) infinite alternate ease-in-out;
}
#CIRCLE_BG_SMALL_1 {
    animation: 
        flash-opacity calc(var(--mult) * 30.14s) infinite ease-in-out;
}
#CIRCLE_BG_SMALL_2 {
    animation: 
        flash-opacity calc(var(--mult) * 22.6s) infinite alternate ease-in-out;
}

/* WAVES */
#SVG_WAVES {
    --shadow: 10px 10px 10px rgba(41, 163, 174, 0.765);
    width: 100vw !important;
    /* min-width: 700px; */
    min-height: 80vh;
    position: absolute;
    top: 14vh;
    animation: drop-shadow 16s infinite alternate-reverse cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


#WAVE_L_1 {
    --shadow: 10px 10px 20px rgba(47, 176, 188, 0.765);
    animation: 
        anim-opacity 14s infinite alternate-reverse cubic-bezier(.18,.89,.31,1.75)
        drop-shadow 10s infinite alternate cubic-bezier(0.215, 0.610, 0.355, 1);
}
#WAVE_L_2 {
    animation: anim-opacity 8s infinite alternate ease-in ; 
}
#WAVE_L_3 {
    animation: anim-opacity 12s 5s infinite reverse ease ;
}
#WAVE_L_4 {
    animation: anim-opacity 16s infinite alternate-reverse ease-in-out,
    drop-shadow 6s infinite alternate cubic-bezier(0.215, 0.610, 0.355, 1);
}

#WAVE_B_1 {
    animation: anim-opacity 6s infinite alternate cubic-bezier(.18,.89,.31,1.75),
    drop-shadow 20s infinite reverse cubic-bezier(0.215, 0.610, 0.355, 1);
}
#WAVE_B_2 {
    animation: anim-opacity 10s infinite alternate ease-in ; 
}
#WAVE_B_3 {
    animation: anim-opacity 8.4s infinite reverse ease ;
}


/* KEYFRAMES */
@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes anim-opacity {
    0% {
        opacity: 0.5;
    }
    95% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.04;
    }
}
@keyframes flash-opacity {
    0% {
        opacity: 0;
    }
    77% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.0;
    }
    95% {
        opacity: 0.3;
    }
    99% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.08;
    }
}
/* @keyframes flash-opacity {
    0% {
        opacity: 0;
    }
    77% {
        opacity: 0.02;
    }
    80% {
        opacity: 0.0;
    }
    95% {
        opacity: 0.06;
    }
    99% {
        opacity: 0.05;
    }
    100% {
        opacity: 0.02;
    }
} */

@keyframes drop-shadow {
    0% {
        filter: none;
    }
    100% {
        filter: drop-shadow(var(--shadow));
    }
}