/* MAIN */
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* svg {
    width: 1000px;
    position: absolute;
    top: 50px;
} */


/* CIRCLES */
#SVG_CIRCLES {
    width: 500px;
    position: absolute;
    left: -50px;
    /* animation: anim-rotate 80s infinite ease; */
}


#CIRCLE_1 {
    --shad-col: red;
    --shad-rad: 10px;
    --shad-offs: 8px 8px;
    
    transform-origin: center;
    animation: 
        anim-rotate 90s infinite reverse ease, 
        anim-opacity 5s infinite alternate-reverse ease, 
        drop-shadow 10s 10s infinite ease;
}
#CIRCLE_2 {
    transform-origin: center;
    animation: 
        anim-rotate 150s infinite  ease, 
        anim-opacity 7s infinite alternate-reverse ease;
}
#CIRCLE_3 {
    /* --shad-col: rgb(0, 128, 128); */
    --shad-col: rgba(255, 0, 0, 0.783);
    --shad-rad: 20px;
    --shad-offs: 2px 2px;

    transform-origin: center;
    animation: 
        anim-rotate 280s infinite ease, 
        anim-opacity 9s infinite alternate ease, 
        drop-shadow 2s 20s infinite alternate cubic-bezier(.31,-0.98,.62,.49);
}


#CIRCLES_BG {
    --mult: 10;
}

#CIRCLE_BG_HALF_TOP {
    /* opacity: 0; */
    animation: 
        flash-opacity calc(var(--mult) * 10s) infinite alternate ease;
}
#CIRCLE_BG_HALF_BOTTOM {
    /* opacity: 0; */
    animation: 
        /* flash-opacity 27.3s infinite ease-in-out; */
        flash-opacity calc(var(--mult) * 27.3s) infinite alternate ease-in-out;
}

#CIRCLE_BG_SMALL_1 {
    animation: 
        /* flash-opacity 30s infinite ease-in-out; */
        flash-opacity calc(var(--mult) * 30.14s) infinite ease-in-out;
}
#CIRCLE_BG_SMALL_2 {
    animation: 
    /* flash-opacity 40s infinite alternate ease-in-out; */
    flash-opacity calc(var(--mult) * 42.6s) infinite alternate ease-in-out;
}

/* WAVES */
#SVG_WAVES {
    height: 500px;
    position: absolute;
}


/* KEYFRAMES */
@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes anim-opacity {
    0% {
        opacity: 0.3;
    }
    95% {
        opacity: 0.06;
    }
    100% {
        opacity: 0.02;
    }
}

@keyframes flash-opacity {
    0% {
        opacity: 0;
    }
    77% {
        opacity: 0.02;
    }
    80% {
        opacity: 0.0;
    }
    95% {
        opacity: 0.06;
    }
    99% {
        opacity: 0.05;
    }
    100% {
        opacity: 0.02;
    }
}

@keyframes drop-shadow {
    0% {
        filter: none;
    }
    100% {
        filter: drop-shadow(var(--shad-offs) var(--shad-rad) var(--shad-col));
    }
}