/* HEADER */
#main-header {
    position: sticky;
    z-index: 200;
    width: 100vw;
    height: 14vh;
    padding: 5vh;
    padding-right: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 3px var(--shadow-color);
    filter: drop-shadow(1px 1px 3px var(--color));
}
#main-header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#header-blur {
    position: fixed;
    z-index: 190;
    width: 100vw;
    height: 18vh;
    top: -2vh;
    background-color: #070b0dcf;
    filter: blur(66px);
}


/* HOME CONTENT */
#content-container {
    width: 55vw;
    padding: 2vw;
    position: absolute;
    z-index: 50;
    top: 10vh;
    left: calc(500px - 100px);
    display: flex;
    flex-direction: column;
    filter: drop-shadow(1px 1px 2px var(--shadow-color));
    /* text-shadow: 1px 1px 2px rgba(27, 106, 113, 0.2); */

}
#content-container p {
    margin-bottom: 6vh;
    margin-top: 6vh;
}
#content-container input {
    background-color: transparent;
    /* background-color: rgba(8, 25, 35, 0.718); */
    border: 1px solid var(--color);
    border-radius: 2px;
    width: min-content;
    padding: 0.5rem 2rem;
    font-family: 'Advent Pro', sans-serif;
    justify-self: center;
    color: var(--color-2);
}
#content-container input:hover {
    box-shadow: 1px 1px 10px var(--shadow-color);
}


/* CARDS */
#cards-container {
    /* background-color: rgba(21, 58, 62, 0.2);*/
    /* border: 1px solid var(--color);  */
    border-radius: 4px;

    width: calc(100vw - 17px);
    height: calc(100vh - 18vh);

    padding: 2vw;
    position: absolute;
    z-index: 100;

    /* changed by js */
    display: flex;
    display: none;
    justify-content: center;
    gap: 100px;
    align-items: center;

    text-shadow: 1px 1px 2px var(--shadow-color);
}
#cards-container span {
    position: absolute;
    left: 0;
    top: 0;
    margin: 2%;
    /* filter: drop-shadow(1px 1px 3px rgba(47, 176, 188, 0.765)); */
}


.card {
    background-color: #18496635;
    border: 1px solid var(--color);
    border-radius: 4px;
    padding: 1% 4%;
    width: 40%;
    max-width: 300px;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15%;
}
.card:hover {
    box-shadow: 1px 1px 10px var(--shadow-color);
    transform: scale(1.05);
}
.card header * {
    /* margin: 2vh auto; */
}
.card ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: -0.5vh auto 2vh auto;
}
.card li {
    font-size: 2vh;
    padding: 1vh;
}
.card li::before {
    content: "#";
}
figure {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}
img {
    border: 1px solid var(--shadow-color);
    border-radius: 4px;
}
img:hover {
    box-shadow: 1px 1px 10px var(--shadow-color);
}



