@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');

/* MAIN */
html {
    background: #081923;
    font-family: 'Advent Pro', sans-serif;
    
    --color: rgba(47, 176, 188, 0.765);
}
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 2.8vh;
    color: var(--color);
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 1.8rem;
}


/* DEV */
h1, header, h2, p, div {
    /* border: 1px solid red; */
}




/* KEYFRAMES */
@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes anim-opacity {
    0% {
        opacity: 0.5;
    }
    95% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.04;
    }
}
@keyframes flash-opacity {
    0% {
        opacity: 0;
    }
    77% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.0;
    }
    95% {
        opacity: 0.3;
    }
    99% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.08;
    }
}
@keyframes drop-shadow {
    0% {
        filter: none;
    }
    100% {
        filter: drop-shadow(var(--shadow));
    }
}