@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');

/* MAIN */
html {
    background: #081923;
    font-family: 'Advent Pro', sans-serif;
    
    --bg-color: #081923;
    --color: rgba(47, 176, 188, 0.75);
    --color-2: rgba(63, 204, 247, 0.75);
    --shadow-color: rgba(47, 176, 188, 0.175);

    overflow-x: clip;
    overflow-y: clip;
}
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 2.8vh;
    font-weight: initial;

    color: var(--color);
}

main {
    position: absolute;
    top: 14vh;
    width: 100vw;
    height: calc(100vh - 14vh);
    overflow-x: clip;
    overflow-y: auto;
}



/* scrollbar */
main {
    scrollbar-width: auto;          /* "auto" or "thin" */
    scrollbar-color: rgb(17, 50, 62) transparent;   /* scroll thumb and track */ 
}
  
main::-webkit-scrollbar {
    width: 12px;
}

main::-webkit-scrollbar-track {
    background: transparent;
}

main::-webkit-scrollbar-thumb {
    background-color: rgb(21, 62, 77);
    border-radius: 20px;
    border: 1px solid rgb(27, 84, 104);
}

h1 {
    font-size: 3.8rem;

}
h2 {
    font-size: 1.8rem;
}


/* DEV */
h1, header, h2, p, div {
    /* border: 1px solid red; */
}


/* CLASSES */
.active {
    border-bottom: 1px solid var(--shadow-color);
    transform: scale(1.05);
}
.hoverable:hover {
    /* text-shadow: 1px 1px 10px rgba(47, 176, 188, 0.500); */
    filter: drop-shadow(1px 1px 10px rgba(30, 111, 119, 0.5));
    cursor: pointer;
    transform: scale(1.05);
}
span {
    font-size: inherit;
    color: var(--color-2);
}
p span {
    font-size: 1.3rem;
    color: var(--color-2);
}
/* KEYFRAMES */
@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes anim-opacity {
    0% {
        opacity: 0.5;
    }
    95% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.04;
    }
}
@keyframes flash-opacity {
    0% {
        opacity: 0;
    }
    77% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.0;
    }
    95% {
        opacity: 0.3;
    }
    99% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.08;
    }
}
@keyframes drop-shadow {
    0% {
        filter: none;
    }
    100% {
        filter: drop-shadow(var(--shadow));
    }
}