

@media screen and (max-width: 400px) {
    html, body {
        max-width: 400px;
    }

    #content-container {
        width: 80vw;
        padding: 6vw;
        left: 0;
        top: 60vh;
    }

    #svg-container {
        transform: translateY(-20vh);
    }

}